__pycache__/
*.pyc
*.py[cod]
*.pyo
*.pyd

# Local configuration
backend/config.py
!backend/config.example.py

# Virtual environments
venv/
env/
.venv/
.env/

# IDE files
.vscode/
.idea/
*.iml

# Logs & DB
*.log
*.sqlite3

# Coverage
htmlcov/
.coverage
.coverage.*

# Build artifacts
dist/

# Secrets & binaries
*.pem
*.key
*.crt
*.csv
*.zip
*.tar
*.tar.gz
*.mp4
*.pid


!.vscode/extensions.json
